// ==|== sections ==============================================================
// =============================================================================

// this should really be a scrollable area... otherwise, you will get page
// scrolling overtop of the sidebar... which may have its own scrolling.
// must update!

// Main
// -----------------------------------------------------------------------------
main {
  padding: ($ruler-height + $spacing) ($sidebar-width + $spacing) 0 ($toolbar-link-size + $spacing);
  .content {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
