%nav#Toolbar.toolbar
  %ul.toolbar__list

    %li.toolbar__item.toolbar__item--shopify
      %a.toolbar__link.toolbar__link--external{:href => "http://shopify.ca/", :title => "Visit the Shopify homepage"}
        .icon.icon--logo-shopify
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconShopifyTitle", :role => "img"}
            %title#IconShopifyTitle Shopify
            %use{"xlink:href" => "#logo-shopify"}

    %li.toolbar__item.toolbar__item--svg
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "SVG Icon helper"}
        .icon.icon--tool-svg
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconSVGTitle", :role => "img"}
            %title#IconSVGTitle SVG
            %use{"xlink:href" => "#icon-svg"}
      .drawer.is-collapsed
        %h2 Icons
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--button
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Button helper"}
        .icon.icon--tool-button
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconButtonTitle", :role => "img"}
            %title#IconButtonTitle Button
            %use{"xlink:href" => "#icon-button"}
      .drawer.is-collapsed
        %h2 Buttons
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--layout
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Layout helper"}
        .icon.icon--tool-layout
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconLayoutTitle", :role => "img"}
            %title#IconLayoutTitle Layout
            %use{"xlink:href" => "#icon-layout"}
      .drawer.is-collapsed
        %h2 Layout
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--tag
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Tag helper"}
        .icon.icon--tool-tag
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconTagTitle", :role => "img"}
            %title#IconTagTitle Tag
            %use{"xlink:href" => "#icon-tag"}
      .drawer.is-collapsed
        %h2 Tags
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--banner
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Badge helper"}
        .icon.icon--tool-badge
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconBadgeTitle", :role => "img"}
            %title#IconBadgeTitle Badge
            %use{"xlink:href" => "#icon-badge"}
      .drawer.is-collapsed
        %h2 Badge
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--card
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Card helper"}
        .icon.icon--tool-card
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconCardTitle", :role => "img"}
            %title#IconCardTitle Card
            %use{"xlink:href" => "#icon-card"}
      .drawer.is-collapsed
        %h2 Cards
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--tabs
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Tabs helper"}
        .icon.icon--tool-tabs
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconTabsTitle", :role => "img"}
            %title#IconTabsTitle Tabs
            %use{"xlink:href" => "#icon-tabs"}
      .drawer.is-collapsed
        %h2 Tabs
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--progress
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Progress helper"}
        .icon.icon--tool-progress
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconProgressTitle", :role => "img"}
            %title#IconProgressTitle Progress
            %use{"xlink:href" => "#icon-progress"}
      .drawer.is-collapsed
        %h2 Progress
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--popover
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Popover helper"}
        .icon.icon--tool-popover
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconPopoverTitle", :role => "img"}
            %title#IconPopoverTitle Popover
            %use{"xlink:href" => "#icon-popover"}
      .drawer.is-collapsed
        %h2 Popover
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--modal
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Modal helper"}
        .icon.icon--tool-modal
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconModalTitle", :role => "img"}
            %title#IconModalTitle Modal
            %use{"xlink:href" => "#icon-modal"}
      .drawer.is-collapsed
        %h2 Modal
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--form
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Form helper"}
        .icon.icon--tool-form
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconFormTitle", :role => "img"}
            %title#IconFormTitle Form
            %use{"xlink:href" => "#icon-form"}
      .drawer.is-collapsed
        %h2 Form
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--banner
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Banner helper"}
        .icon.icon--tool-banner
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconBannerTitle", :role => "img"}
            %title#IconBannerTitle Banner
            %use{"xlink:href" => "#icon-exclaim"}
      .drawer.is-collapsed
        %h2 Banner
        %ul.drawer__list
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 1
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 2
          %li.drawer__item
            %button.drawer__link{:type => "button"} Option 3

    %li.toolbar__item.toolbar__item--cube
      %a.toolbar__link.toolbar__link--tool{:href => "#", :title => "Cube helper"}
        .icon.icon--tool-cube
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconCubeTitle", :role => "img"}
            %title#IconCubeTitle Cube
            %use{"xlink:href" => "#icon-cube"}

    %li.toolbar__item.toolbar__item--more
      %a.toolbar__link.toolbar__link--more{:href => "#", :title => "More tools"}
        .icon.icon--more
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconMoreTitle", :role => "img"}
            %title#IconMoreTitle More
            %use{"xlink:href" => "#icon-more"}

    %li.toolbar__item.toolbar__item--delete
      %a.toolbar__link.toolbar__link--tool.delete{:href => "#", :title => "Delete component"}
        .icon.icon--tool-delete
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconDeleteTitle", :role => "img"}
            %title#IconDeleteTitle Delete
            %use{"xlink:href" => "#icon-trash"}

    %li.toolbar__item.toolbar__item--delete-all
      %a.toolbar__link.toolbar__link--tool.delete-all{:href => "#", :title => "Delete all components"}
        .icon.icon--tool-delete-all
          %svg{:viewBox => "0 0 64 64", "aria-labelledby" => "IconDeleteAllTitle", :role => "img"}
            %title#IconDeleteAllTitle Delete
            %use{"xlink:href" => "#icon-trashplus"}
