%header#pageHeader.page__header
  %section#Ruler.ruler
    .marker.marker--left.icon.icon--triangle
      %svg{:viewBox => "0 0 64 64", :role => "img"}
        %use{"xlink:href" => "#icon-triangle"}
    .marker.marker--right.icon.icon--triangle
      %svg{:viewBox => "0 0 64 64", :role => "img"}
        %use{"xlink:href" => "#icon-triangle"}
