%aside.sidebar
  %section.sidebar__section.comments
    %header.sidebar__header
      %h5 Comments
    %ul.comments__list
      %li#Comment1.comments__item
        %header.comments__header
          .avatar.avatar--80
            %img{:src => "assets/img/avatar-rachel.jpg", :alt => ""}
          .comments__title
            %h6 Rachel Lin
            %time 2 days ago
        %article.comments__body
          %p Juice this is weak. lol jk. Youdaman! Can we try a couple other versions though? Perhaps something in rainbow gradient and Papyrus? Get it done, son!
      %li#Comment2.comments__item
        %header.comments__header
          .avatar.avatar--80
            %img{:src => "assets/img/avatar-curtis.jpg", :alt => ""}
          .comments__title
            %h6 Curtis Dulmage
            %time 1 days ago
        %article.comments__body
          %p I get where you are coming from. Give me a day or two and I'll have something ready for you.
      %li#Comment3.comments__item
        %header.comments__header
          .avatar.avatar--80
            %img{:src => "assets/img/avatar-edward.jpg", :alt => ""}
          .comments__title
            %h6 Edward Ocampo-Gooding Jr. Day Lewis
            %time 3 hours ago
        %article.comments__body
          %p Didn't I make you feel like you were the only man - yeah! An' didn't I give you nearly everything that a woman possibly can? Honey, you know I did! And each time I tell myself that I, well I think I've had enough, But I'm gonna show you, baby, that a woman can be tough. Take another little piece of my heart now, baby!
